@import "~@fluentui/react/dist/sass/References.scss";

.container {
  display: flex;
  width: 100%;
  column-gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #d5b1e5;
  flex-grow: 1;
  height: 400px;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
}

.card__imageBackground {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(150, 60, 189, 1) 2.61%, rgba(244, 54, 76, 1) 54.98%);
  position: relative;

  img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.card__name {
  font-size: 18px;
  color: #3c1053;
  font-weight: bold;
}

.card__starts {
  width: 100px;
  height: 24px;
  background: url(../assets/start.png);
  background-repeat: space;
}
